{%- capture date_format -%} {{ 'general.date_format.month_day_year' | t }} {%- endcapture -%}
<article class="blog-item">

	{%- if show_image -%}
		<div class="blog-item__image">
			<a class="blog-item__header lazy-image--hover" href="{{ article.url | escape }}" title="{{ article.title | escape }}">
				{%- if article.image -%}
					{%- liquid
						if layout contains 'cols-2'
							assign sizes = 'sizes="(max-width: 648px) calc(100vw - 20px), (min-width: 649px) and (max-width: 948px) calc((100vw - 20px) / 2), calc((100vw - 300px) / 2)"'
						else 
							assign sizes = 'sizes="(max-width: 948px) calc((100vw - 20px) / 2), (min-width: 949px) and (max-width: 1023px) calc((100vw - 250px) / 2), (min-width: 1024px) and (max-width: 1280px) calc((100vw - 250px) / 3), calc((100vw - 300px) / 4)"'
						endif
						render 'lazy-image', image: article.image, type: 'background', alt: article.title, sizes: sizes
					-%}
				{%- else -%}
        	<span class="onboarding-svg onboarding-background">{{ 'image' | placeholder_svg_tag }}</span>
				{%- endif -%}
			</a>
		</div>
	{%- endif -%}

	<div class="blog-item__content">

		{%- for block in blocks -%}

			{%- case block.type -%}

				{%- when 'title' -%}
					<div class="blog-item__title-holder">
						<a href="{{ article.url | escape }}" title="{{ article.title | escape }}">
							<span class="blog-item__title {% if layout contains 'cols-2' %} body-text-hu {% else %} body-text-hd {% endif %}">
								<span>{{ article.title | escape }}</span>
							</span>
						</a>
					</div>

				{%- when 'summary' -%}
					<div class="blog-item__excerpt">
						{%- if article.excerpt.size > 0 -%}
							{{ article.excerpt }}
						{% else %}
							<p>{{ article.content | strip_html | truncatewords: 20 }}</p>
						{%- endif -%}
					</div>

				{%- when 'info' -%}
					<div class="blog-item__meta">
						{%- if block.settings.show_author -%}
							<span class="blog-item__author">{{ article.author | escape }}</span>
						{%- endif %}
						{%- if block.settings.show_date -%}
							<span class="blog-item__date">{{ article.published_at | time_tag: date_format }}</span>
						{%- endif -%}
					</div>

				{%- when 'link' -%}
					<div><a class="blog-item__more" href="{{ article.url | escape }}">{{ 'blog.grid.read_more_label' | t }}</a></div>

			{%- endcase -%}

		{%- endfor -%}
		

	</div>

</article>