<div id="AjaxCartSubtotal">

	<div class="cart__footer {% if cart.item_count == 0 %} cart--empty {% endif %}">

		<div class="cart__details">

			{%- if settings.cart_notes_enable -%}
			  <textarea name="note" id="cartSpecialInstructions" placeholder="{{ 'cart.note' | t }}" aria-label="{{ 'cart.note' | t }}" form="cart">{{ cart.note }}</textarea>
			{%- endif -%}

		  <div class="cart-details" id="CartDetails">

		  	<div>
			    
			    {% if cart.cart_level_discount_applications != blank %} 
			      <div style="opacity: .66;">
			        <p class="h2" id="CartSubTotal">{{ 'cart.subtotal' | t }} <span>{{ cart.items_subtotal_price | money }}</span></p>
			        <p id="CartDiscounts">
			          {{ 'cart.discounts' | t }}
			          {% for discount_application in cart.cart_level_discount_applications %}
			            <span>{{ discount_application.title }} ( -{{ discount_application.total_allocated_amount | money }} )</span>
			          {% endfor %}
			        </p>
			      </div>
			    {% endif %}

					<p id="CartTotal" class="h1">{{ 'cart.total' | t }} <strong>{{ cart.total_price | money }}</strong></p>
					<small>{{ 'cart.shipping_at_checkout' | t }}</small>

				</div>

				<span {% unless template contains 'cart' %} class="flex-buttons" {% endunless %}>
		    	<a id="ViewCart" href="{{ routes.cart_url }}" class="button button--outline" style="text-align:center;">{{ 'cart.view_cart' | t }}</a>
		     <noscript>
	          <button type="submit" class="button button--outline" form="cart" >
	            {{ 'cart.update' | t }}
	          </button>
	        </noscript>
		    	<button id="CheckOut" class="button button--solid" type="submit" name="checkout" form="cart">
		    		{{ 'cart.checkout' | t }}
		    	</button>
		    </span>

		  </div>

		  {%- if additional_checkout_buttons and settings.cart_additional_buttons -%}
		    <div class="additional-checkout-buttons additional-checkout-buttons--vertical">{{ content_for_additional_checkout_buttons }}</div>
		  {%- endif -%}

		</div>

		<span class="cart__preloader" aria-hidden="true"></span>

		<div class="cart-continue">
			<a href="{{ routes.all_products_collection_url }}" class="button button--solid">
				{{ 'cart.continue_browsing' | t }}
			</a>
		</div>

	</div>

</div>