<share-popup>

	<a class="share-link" data-micromodal-trigger="share-popup" tabindex="0">
	  <span aria-hidden="true">{% render 'theme-symbols', icon: 'share' %}</span>
	  <span class="text">{{ 'products.page.share_link' | t }}</span>
	</a>

	{%- capture share_link -%}{{ shop.url }}{{ url }}{%- endcapture -%}
	{%- capture share_title -%}{{ title | url_param_escape }}{%- endcapture -%}
	{%- if image -%}
	  {%- capture share_image -%}{{ image | img_url: '1024x' }}{%- endcapture -%}
	{%- else -%}
	  {%- capture share_image -%}{{ page_image | img_url : '1024x' }}{%- endcapture -%}
	{%- endif -%}

	<div id="share-popup" class="hidden">
		<div class="share-popup">
			<span class="h2">{{ 'general.share_on' | t }}</span>
			<a target="_blank" href="//facebook.com/sharer.php?u={{ share_link }}"><span class="underline-animation">Facebook</span></a>
			<a target="_blank" href="//twitter.com/share?text={{ share_title }}&amp;url={{ share_link }}"><span class="underline-animation">Twitter</span></a>
			<a target="_blank" href="//pinterest.com/pin/create/button/?url={{ share_link }}&amp;media={{ share_image }}&amp;description={{ share_title }}"><span class="underline-animation">Pinterest</span></a>
			<div class="basicLightboxClose" tabindex="0">×</div>
		</div>
	</div>

</share-popup>