<ul class="sidebar__menu sidebar-menu-element sidebar--{{ type }}">

	{%- for link in menu.links -%}

		<li class="{% if link.links != blank %} has-submenu has-first-submenu {% endif %}" {% if link.links != blank %} aria-haspopup="true" {% endif %}>

			<a href="{{ link.url }}"  class="{% if link.links != blank %} parent-has-submenu {% endif %}{% if link.active or link.child_active %} selected {% endif %}" data-type="{{ type }}">
				<span style="flex: 1;"><span class="underline-animation">{{ link.title | escape }}</span></span>
				<span class="submenu-arrow" aria-hidden="true">{%- if link.links != blank -%} {%- render 'theme-symbols', icon: 'arrow' -%} {%- endif -%}</span>
			</a>

			{%- if link.links != blank -%}

				<div data-handle="{{ link.handle }}" class="sidebar__submenu sidebar-parent-element sidebar__submenu--first sidebar--{{ type }}" aria-expanded="false">

					<div class="sidebar__container">

						<div class="sub-menu sub-menu--second">

							<ul>

								{%- for childlink in link.links -%}

									<li class="{% if childlink.links != blank %} has-submenu has-second-submenu {% endif %}" {% if childlink.links != blank %} aria-haspopup="true" {% endif %}>

										<a href="{{ childlink.url }}" class="{% if childlink.links != blank %} parent-has-submenu {% endif %} sub-menu__link-second{% if childlink.active or childlink.child_active %} selected {% endif %} {% if forloop.last %} sub-menu__last-second {% endif %}">
											<span style="flex: 1;"><span class="underline-animation">{{ childlink.title | escape }}</span></span>
											<span class="submenu-arrow" aria-hidden="true">{%- if childlink.links != blank -%} {%- render 'theme-symbols', icon: 'arrow' -%} {%- endif -%}</span>
										</a>

										{%- if childlink.links != blank -%}
											
											<div data-handle="{{ childlink.handle }}" class="sidebar__submenu sidebar-parent-element sidebar__submenu--second sidebar--{{ type }}" aria-expanded="false">

												<div class="sidebar__container">

													<div class="sub-menu">

														<ul>

															{%- for subchildlink in childlink.links -%}

																<li>
																	<a href="{{ subchildlink.url }}" class="sub-menu__link-third{% if subchildlink.active %} selected {% endif %} {% if forloop.last %} sub-menu__last-third {% endif %}"><span class="underline-animation">{{ subchildlink.title | escape }}</span></a>
																</li>

															{%- endfor -%}

														</ul>

													</div>

												</div>

											</div>

										{%- endif -%}

									</li>

								{%- endfor -%}

							</ul>
		
						</div>

					</div>

				</div>

			{%- endif -%}

		</li>

	{%- endfor -%}

</ul>