<div class="page-content">

	<div class="centered-section-content">

		<div>

			<header class="page-title">
				<div>
					{%- render 'breadcrumb' -%}
					<h1 class="title h0">{{ 'customers.addresses_page.title' | t }}</h1>
					<span class="subtitle">{{ 'customers.addresses_page.subtitle' | t }}</span>
				</div>
		  	{% if shop.customer_accounts_enabled and customer %}
					<a class="button button--outline" href="{{ routes.account_logout_url }}">{{ 'customers.login_page.form_logout_button' | t }}</a>
				{% endif %}
			</header>

			{% paginate customer.addresses by 4 %}

				<div class="customer-addresses">

					{% for address in customer.addresses %}

						<div class="customer-address">

							<strong>
								{{ address.first_name | capitalize }} {{address.last_name | capitalize }}
								{% if address == customer.default_address %}<em>{{ 'customers.addresses_page.default_address' | t }}</em>{% endif %}
							</strong>

							{{ address | format_address }}

							<p>
								<a id="open_address_{{ address.id }}" href="#edit_address_{{ address.id }}" class="button button--outline button--small mfp-link">{{ 'customers.addresses_page.edit_address_link' | t }}</a>
								<span class="delete-address">{{ 'customers.addresses_page.delete_address_link' | t | delete_customer_address_link: address.id }}</span>
							</p>

							<div id="edit_address_{{ address.id }}" aria-hidden="true" class="hidden">

								<div class="address-popup">

									{% form 'customer_address', address, class: 'simple-form' %}

										<div class="simple-form-field">
											<p class="h2">{{ 'customers.addresses_page.edit_address_title' | t }}</p>
										</div>

										<div class="simple-form-field">
											<div class="simple-form-grid">
												<div>
													<label for="address_first_name_{{ form.id }}">{{ 'customers.addresses_page.form.first_name_label' | t }}</label>
													<input type="text" id="address_first_name_{{ form.id }}" class="address_form" name="address[first_name]" value="{{form.first_name}}" autocapitalize="words">
												</div>
												<div>
													<label for="address_last_name_{{ form.id }}">{{ 'customers.addresses_page.form.last_name_label' | t }}</label>
													<input type="text" id="address_last_name_{{ form.id }}" class="address_form" name="address[last_name]" value="{{form.last_name}}" autocapitalize="words">
												</div>
											</div>
										</div>

										<div class="simple-form-field">
											<label for="address_company_{{ form.id }}">{{ 'customers.addresses_page.form.company_label' | t }}</label>
											<input type="text" id="address_company_{{ form.id }}" class="address_form" name="address[company]" value="{{form.company}}" autocapitalize="words">
										</div>

										<div class="simple-form-field">
											<label for="address_address1_{{ form.id }}">{{ 'customers.addresses_page.form.address_1_label' | t }}</label>
											<input type="text" id="address_address1_{{ form.id }}" class="address_form" name="address[address1]" value="{{form.address1}}" autocapitalize="words">
										</div>

										<div class="simple-form-field">
											<label for="address_address2_{{ form.id }}">{{ 'customers.addresses_page.form.address_2_label' | t }}</label>
											<input type="text" id="address_address2_{{ form.id }}" class="address_form" name="address[address2]" value="{{form.address2}}" autocapitalize="words">
										</div>

										<div class="simple-form-field">
											<label for="address_city_{{ form.id }}">{{ 'customers.addresses_page.form.city_label' | t }}</label>
											<input type="text" id="address_city_{{ form.id }}" class="address_form" name="address[city]" value="{{form.city}}" autocapitalize="words">
										</div>

										<div class="simple-form-field">
											<label for="address_country_{{ form.id }}">{{ 'customers.addresses_page.form.country_label' | t }}</label>
											<select id="address_country_{{ form.id }}" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
										</div>

										<div class="simple-form-field" id="address_province_container_{{ form.id }}" style="display:none;">
											<label for="address_province_{{ form.id }}">{{ 'customers.addresses_page.form.province_label' | t }}</label>
											<select id="address_province_{{ form.id }}" class="address_form" name="address[province]" data-default="{{form.province}}"></select>
										</div>

										<div class="simple-form-field">
											<div class="simple-form-grid">
												<div>
													<label for="address_zip_{{ form.id }}">{{ 'customers.addresses_page.form.zip_label' | t }}</label>
													<input type="text" id="address_zip_{{ form.id }}" class="address_form" name="address[zip]" value="{{form.zip}}" autocapitalize="characters">
												</div>
												<div>
													<label for="address_phone_{{ form.id }}">{{ 'customers.addresses_page.form.phone_label' | t }}</label>
													<input type="tel" id="address_phone_{{ form.id }}" class="address_form" name="address[phone]" value="{{form.phone}}" placeholder="555-555-1234">
												</div>
											</div>
										</div>

										<div class="simple-form-field">
											{{ form.set_as_default_checkbox }}
											<label for="address_default_address_{{ form.id }}" class="inline">{{ 'customers.addresses_page.form.set_as_default_check' | t }}</label>
										</div>
										
										<div class="simple-form-field">
											<input type="submit" class="button button--outline button--wide" value="{{ 'customers.addresses_page.form.update_button' | t }}">
										</div>

									{% endform %}

									<div id="edit_address_{{ address.id }}_close" class="basicLightboxClose">×</div>

								</div>

							</div>

						</div>

					{% endfor %}

				</div>
			
				{% if paginate.pages > 1 %}
					{% render 'pagination', paginate: paginate %}
				{% endif %}

			{% endpaginate %}

			<br />

			<a id="open_address_new" href="#add_address" class="button button--solid button--wide">{{ 'customers.addresses_page.add_address_link' | t }}</a>

			<div id="add_address" aria-hidden="true" class="hidden">

				<div class="address-popup">

					{% form 'customer_address', customer.new_address, class: 'simple-form' %}

						<div class="simple-form-field">
							<p class="h2">{{ 'customers.addresses_page.add_address_title' | t }}</p>
						</div>

						<div class="simple-form-field">
							<div class="simple-form-grid">
								<div>
									<label for="address_first_name_new">{{ 'customers.addresses_page.form.first_name_label' | t }}</label>
									<input type="text" id="address_first_name_new" class="address_form" name="address[first_name]" value="{{form.first_name}}" autocapitalize="words">
								</div>
								<div>
									<label for="address_last_name_new">{{ 'customers.addresses_page.form.last_name_label' | t }}</label>
									<input type="text" id="address_last_name_new" class="address_form" name="address[last_name]" value="{{form.last_name}}" autocapitalize="words">
								</div>
							</div>
						</div>

						<div class="simple-form-field">
							<label for="address_company_new">{{ 'customers.addresses_page.form.company_label' | t }}</label>
							<input type="text" id="address_company_new" class="address_form" name="address[company]" value="{{form.company}}" autocapitalize="words">
						</div>

						<div class="simple-form-field">
							<label for="address_address1_new">{{ 'customers.addresses_page.form.address_1_label' | t }}</label>
							<input type="text" id="address_address1_new" class="address_form" name="address[address1]" value="{{form.address1}}" autocapitalize="words">
						</div>

						<div class="simple-form-field">
							<label for="address_address2_new">{{ 'customers.addresses_page.form.address_2_label' | t }}</label>
							<input type="text" id="address_address2_new" class="address_form" name="address[address2]" value="{{form.address2}}" autocapitalize="words">
						</div>

						<div class="simple-form-field">
							<label for="address_city_new">{{ 'customers.addresses_page.form.city_label' | t }}</label>
							<input type="text" id="address_city_new" class="address_form" name="address[city]" value="{{form.city}}" autocapitalize="words">
						</div>

						<div class="simple-form-field">
							<label for="address_country_new">{{ 'customers.addresses_page.form.country_label' | t }}</label>
							<select id="address_country_new" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
						</div>

						<div class="simple-form-field" id="address_province_container_new" style="display:none">
							<label for="address_province_new">{{ 'customers.addresses_page.form.province_label' | t }}</label>
							<select id="address_province_new" class="address_form" name="address[province]" data-default="{{form.province}}"></select>
						</div>

						<div class="simple-form-field">
							<div class="simple-form-grid">
								<div>
									<label for="address_zip_new">{{ 'customers.addresses_page.form.zip_label' | t }}</label>
									<input type="text" id="address_zip_new" class="address_form" name="address[zip]" value="{{form.zip}}" autocapitalize="characters">
								</div>
								<div>
									<label for="address_phone_new">{{ 'customers.addresses_page.form.phone_label' | t }}</label>
									<input type="tel" id="address_phone_new" class="address_form" name="address[phone]" value="{{form.phone}}" placeholder="555-555-1234">
								</div>
							</div>
						</div>

						<div class="simple-form-field">
							{{ form.set_as_default_checkbox }}
							<label for="address_default_address_new" class="inline">{{ 'customers.addresses_page.form.set_as_default_check' | t }}</label>
						</div>

						<div class="simple-form-field">
							<input type="submit" class="button button--solid button--wide" value="{{ 'customers.addresses_page.form.add_button' | t }}">
						</div>

					{% endform %}

					<div id="add_address_close" class="basicLightboxClose">×</div>

				</div>

			</div>

		</div>

	</div>

</div>

<script type="text/javascript">

	window.onload = function(){

		new Shopify.CountryProvinceSelector('address_country_new', 'address_province_new', {
			hideElement: 'address_province_container_new'
		});

		{% paginate customer.addresses by 5 %}

			{% for address in customer.addresses %}

				new Shopify.CountryProvinceSelector('address_country_{{ address.id }}', 'address_province_{{ address.id }}', {
					hideElement: 'address_province_container_{{ address.id }}'}
				);

				const modal_{{ address.id }} = basicLightbox.create(document.getElementById('edit_address_{{ address.id }}'));
				document.getElementById('open_address_{{ address.id }}').addEventListener('click', function(e){
					e.preventDefault();
					modal_{{ address.id }}.show(function(){
						document.getElementById('edit_address_{{ address.id }}_close').addEventListener('click', function(e){
							modal_{{ address.id }}.close();
						})
					});
				});

			{% endfor %}

		{% endpaginate %}

		const modal_new = basicLightbox.create(document.getElementById('add_address'));
		document.getElementById('open_address_new').addEventListener('click', function(e){
			e.preventDefault();
			modal_new.show(function(){
				document.getElementById('add_address_close').addEventListener('click', function(e){
					modal_new.close();
				})
			});
		});

		Shopify.CustomerAddress = {

			destroy: function(id, confirm_msg) {
				if ( confirm( confirm_msg || "{{ 'customers.addresses_page.form.delete_check' | t }}" ) ) {
					Shopify.postLink( '{{ routes.account_addresses_url }}/'+id, {'parameters': {'_method': 'delete'}} );
				}
			}

		}

	}

</script>