<div class="page-content">

	<div class="centered-section-content">

		<div>

			<div id="recover_password">

				{%- render 'breadcrumb' -%}
				<h1 class="title h0" style="margin-bottom:var(--compact-header-padding)">{{ 'customers.password_reset_page.title' | t }}</h1>

				{%- form 'reset_customer_password', class: 'simple-form' -%}

					<p class="subtitle">{{ 'customers.password_reset_page.subtitle' | t: email: email }}</p>
					
					{%- render 'form-errors', form: form -%}
						
					<div class="simple-form-field">
		        <label for="ResetPassword" class="hidden">{{ 'customers.password_reset_page.password_label' | t }}</label>
		        <input type="password" value="" name="customer[password]" id="ResetPassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'customers.password_reset_page.password_label' | t }}">
		      </div>

					<div class="simple-form-field">
		        <label for="PasswordConfirmation" class="hidden">{{ 'customers.password_reset_page.password_confirm_label' | t }}</label>
		        <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="input-full{% if form.errors contains 'password_confirmation' %} error{% endif %}" placeholder="{{ 'customers.password_reset_page.password_confirm_label' | t }}">
		      </div>

					<input type="submit" class="button button--solid button--wide" value="{{ 'customers.password_reset_page.submit' | t }}">

				{%- endform -%}

			</div>
			
		</div>

	</div>

</div>