<!doctype html>
<html class="no-js html-password" lang="{{ request.locale.iso_code }}">
<head>

	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0">

	{% if settings.favicon_image %}
		<link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
	{% endif %}

	<title>{{ shop.name | escape }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

	{%- render 'open-graph' -%}

	<link rel="canonical" href="{{ canonical_url }}">

  <link rel="preconnect" href="https://cdn.shopify.com">
  {%- unless settings.headings_font.system? and settings.body_font.system? -%}
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
  {%- endunless -%}

  {%- render 'head-variables' -%}

  <link rel="preload" as="script" href="{{ 'theme.js' | asset_url }}">
  <link rel="preload" as="style" href="{{ 'theme.css' | asset_url }}">
  {{ 'theme.css' | asset_url | stylesheet_tag }}

	{{ content_for_header }}

</head>

<body class="template-password no-touch">

  <script>
    if ('loading' in HTMLImageElement.prototype) {
      document.body.classList.add('loading-support');
    }
  </script>
  
  <a href="#content" class="visually-hidden skip-to-content" tabindex="0">{{ 'general.accessibility_labels.skip_to_content' | t }}</a>

  <div class="main-password-page">

	  {%- section 'main-password-header' -%}

		<div id="content-holder">
			<main id="content" role="main">
			  <div id="page-content">{{ content_for_layout }}</div>
			</main>
		</div>

	</div>

	{%- section 'main-password-footer' -%}

	<script type="text/javascript">

    window.preloadImages = (element=document)=> {
      if ('loading' in HTMLImageElement.prototype) {
        let lazyImages = element.querySelectorAll('.lazy-image img');
        for (let img of lazyImages) {
          if (!img.complete) {
            img.addEventListener('load', lazyImageLoad, false);
          } else if (img.complete) {
            lazyImageLoad({currentTarget: img});
          }
        }
        function lazyImageLoad(e) {
          e.currentTarget.classList.add('lazyloaded');
        }
      }
    }
    window.preloadImages();

    // if 'loading' supported

  	window.reorderSections = ()=> {
  		document.querySelectorAll('.with-gutter').forEach(el=>{
  			el.classList.remove('with-gutter');
  		});
  		document.querySelectorAll('.without-gutter').forEach(el=>{
  			el.classList.remove('without-gutter');
  		});
  		document.querySelectorAll('.content-section.gutter--on').forEach(el=>{
  			el.parentElement.classList.add('with-gutter');
  			if ( el.classList.contains('parent-has-inner-padding') ) {
  				el.parentElement.classList.add('has-inner-padding');
  			}
  		});
  		document.querySelectorAll('.content-section.gutter--off').forEach(el=>{
  			el.parentElement.classList.add('without-gutter');
  		});
		};

    KROWN = {
      settings: {
        shop_money_format: '{{ shop.money_format }}',
        cart_action: "{{ settings.cart_action }}",
        routes: {
          cart_url: "{{ routes.cart_url }}",
          cart_add_url: "{{ routes.cart_add_url }}",
          cart_change_url: "{{ routes.cart_change_url }}",
          search_url: "{{ routes.search_url }}"
        },
        locales: {
          products_add_to_cart_button: `{{ 'products.page.add_to_cart_button' | t }}`,
          products_sold_out_variant: `{{ 'products.page.inventory.sold_out_variant' | t }}`,
          products_unavailable_variant: `{{ 'products.page.inventory.unavailable_variant' | t }}`,
          products_one_product: `{{ 'products.page.inventory.one_product' | t }}`,
          products_few_products: `{{ 'products.page.inventory.few_products' | t }}`,
          products_no_products: `{{ 'products.page.inventory.no_products' | t }}`,
          products_preorder: `{{ 'products.page.inventory.preoder' | t }}`,
          product_more_description_label: `{{ 'products.page.more_description_label' | t }}`,
          product_less_description_label: `{{ 'products.page.less_description_label' | t }}`,
          product_sku: `{{ 'products.page.sku' | t }}`,
          product_barcode: `{{ 'products.page.barcode' | t }}`,
          cart_add_error: `{{ 'cart.add_error' | t }}`,
          cart_general_error: `{{ 'cart.general_error' | t }}`,
          search_collection_results_title: `{{ 'search.form.collection_results_title' | t }}`,
          search_page_results_title: `{{ 'search.form.page_results_title' | t }}`,
          search_article_results_title: `{{ 'search.form.article_results_title' | t }}`,
          search_search_for_html: `{{ 'search.form.search_for_html' | t }}`,
          search_prefix_by: `{{ 'general.prefixes.by' | t }}`
        },
        symbols: {
          arrow: `{%- render 'theme-symbols', icon: 'arrow-long' -%}`,
          zoom_out: `{%- render 'theme-symbols', icon: 'zoom-out' -%}`,
          zoom_in: `{%- render 'theme-symbols', icon: 'zoom-in' -%}`,
          close: `{%- render 'theme-symbols', icon: 'close' -%}`
        },
        search_placeholder_image: `{{ 'product-1' | placeholder_svg_tag }}`,
        predictive_search_enabled: "{{ settings.predictive_search_enabled }}",
        predictive_search_show_vendor: "{{ settings.predictive_search_show_vendor }}",
        predictive_search_show_price: "{{ settings.predictive_search_show_price }}",
        predictive_search_include_articles: "{{ settings.predictive_search_include_articles }}",
        predictive_search_include_pages: "{{ settings.predictive_search_include_pages }}"
      }
    }

		window.reorderSections();

    {%- if settings.predictive_search_enabled -%} 
      window.month_names = [`{{ 'general.date_format.month_names.January' | t }}`, `{{ 'general.date_format.month_names.February' | t }}`, `{{ 'general.date_format.month_names.March' | t }}`, `{{ 'general.date_format.month_names.April' | t }}`, `{{ 'general.date_format.month_names.May' | t }}`, `{{ 'general.date_format.month_names.June' | t }}`, `{{ 'general.date_format.month_names.July' | t }}`, `{{ 'general.date_format.month_names.August' | t }}`, `{{ 'general.date_format.month_names.September' | t }}`, `{{ 'general.date_format.month_names.October' | t }}`, `{{ 'general.date_format.month_names.November' | t }}`, `{{ 'general.date_format.month_names.December' | t }}`];
    {%- endif -%}

    if ( ! JSON.parse(document.getElementById('shopify-features').text).predictiveSearch ) {
      KROWN.settings.predictive_search_enabled = "false";
      document.querySelector('.sidebar__search.predictive-search').classList.remove('predictive-search');
    }

	</script>

	<script type="text/javascript">
		if ( 'ontouchstart' in window || window.DocumentTouch && document instanceof DocumentTouch ) {
		  document.querySelector('body').classList.remove('no-touch');
		  document.querySelector('body').classList.add('touch');
		} 
	</script>

	<script type="text/javascript" src="{{ 'theme.js' | asset_url }}" async></script>

</body>

</html>