<!doctype html>

<html class="no-js" lang="{{ request.locale.iso_code }}">

<head>



	<meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0">



	{%- if settings.favicon -%}

		<link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />

	{%- endif -%}

  

  <meta name="robots" content="noindex">



	{%- capture seo_title -%}

    {%- if template contains 'search' -%}

      {{ search.terms | replace: '*', '' | split: ' AND ' | last }} - {{ shop.name | escape }}

    {%- else -%}

      {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name | escape }}{% endunless %}

    {%- endif -%}

  {%- endcapture -%}



	<title>{{ seo_title }}</title>



	{%- if page_description -%}

		<meta name="description" content="{{ page_description | escape }}">

	{%- endif -%}



	{%- render 'open-graph' -%}

  {%- render 'microdata-schema' -%}



  <link rel="canonical" href="{{ canonical_url }}">



  <link rel="preconnect" href="https://cdn.shopify.com">

  {%- unless settings.headings_font.system? and settings.body_font.system? -%}

    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>

  {%- endunless -%}

    

  {%- render 'head-preloader' -%}

  {%- render 'head-variables' -%}



  <link rel="preload" as="script" href="{{ 'theme.js' | asset_url }}">

  <link rel="preload" as="style" href="{{ 'theme.css' | asset_url }}">

  {{ 'theme.css' | asset_url | stylesheet_tag }}



	{{ content_for_header }}

	

  {%- if template == 'customers/addresses' -%}

	  <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer></script>

	  <script src="{{ 'customer_area.js' | shopify_asset_url }}" defer></script>

	{%- endif -%}



  <noscript>

    <link rel="stylesheet" href="{{ 'theme-noscript.css' | asset_url }}">

  </noscript>



  <script>

    const ProductGalleryResizeHelper = productGallery => {

      if ( ( window.innerWidth >= 768 && productGallery.classList.contains('product-gallery--slider') ) || ( window.innerWidth < 1024 && window.innerWidth >= 768 ) ) {

        productGallery.querySelectorAll('.lazy-image').forEach(elm=>{

          const gutter = "image"==elm.parentNode.dataset.productMediaType||1024>window.innerWidth?0:productGallery.classList.contains("product-gallery--thumbnails")?productGallery.classList.contains("product-gallery--gutter")?110:100:productGallery.classList.contains("product-gallery--gutter")?70:50;

          elm.parentNode.style.width = ( ( productGallery.offsetHeight - gutter ) * elm.dataset.ratio ) + 'px';

        });

      } else {

        productGallery.querySelectorAll('.lazy-image').forEach(elm=>{

          elm.parentNode.style.width = '';

        });

      }

    }

  </script>



<!-- start place for checkify storeScript -->
<script data-checkify-url=https://pay.checkify.pro async='' src='https://pay.checkify.pro/static/js/shopify.js'></script>
<!-- end -->
</head>



<body id="{{ page_title | handle }}" class="{% if customer %} customer-logged-in {% endif %} template-{{ template.name }} template-{{ template | replace: '.', ' ' | handle }} no-touch">



  <script>

    if ('loading' in HTMLImageElement.prototype) {

      document.body.classList.add('loading-support');

    }

  </script>

  

  <a href="#content" class="visually-hidden skip-to-content" tabindex="0">{{ 'general.accessibility_labels.skip_to_content' | t }}</a>



	{%- section 'announcement-bar' -%}



	{%- section 'sidebar' -%}



	<div id="content-holder">



		<main id="content" role="main">



		  <div id="page-content">{{ content_for_layout }}</div>



      <div id="footer-content">

  			{%- section 'text-columns-with-icons' -%}

  			{%- section 'footer' -%}

      </div>



		</main>



	</div>



	{%- section 'popup' -%}



	<script type="text/javascript">



    window.preloadImages = (element=document)=> {

      if ('loading' in HTMLImageElement.prototype) {

        let lazyImages = element.querySelectorAll('.lazy-image img');

        for (let img of lazyImages) {

          if (!img.complete) {

            img.addEventListener('load', lazyImageLoad, false);

          } else if (img.complete) {

            lazyImageLoad({currentTarget: img});

          }

        }

        function lazyImageLoad(e) {

          e.currentTarget.classList.add('lazyloaded');

        }

      }

    }

    window.preloadImages();



  	window.reorderSections = ()=> {

  		document.querySelectorAll('.with-gutter').forEach(el=>{

  			el.classList.remove('with-gutter');

  		});

  		document.querySelectorAll('.without-gutter').forEach(el=>{

  			el.classList.remove('without-gutter');

  		});

  		document.querySelectorAll('.content-section.gutter--on').forEach(el=>{

  			el.parentElement.classList.add('with-gutter');

  			if ( el.classList.contains('parent-has-inner-padding') ) {

  				el.parentElement.classList.add('has-inner-padding');

  			}

  		});

  		document.querySelectorAll('.content-section.gutter--off').forEach(el=>{

  			el.parentElement.classList.add('without-gutter');

  		});

		};



    KROWN = {

      settings: {

        shop_money_format: '{{ shop.money_format }}',

        cart_action: "{{ settings.cart_action }}",

        routes: {

          cart_url: "{{ routes.cart_url }}",

          cart_add_url: "{{ routes.cart_add_url }}",

          cart_change_url: "{{ routes.cart_change_url }}",

          predictive_search_url: "{{ routes.predictive_search_url }}"

        },

        locales: {

          products_add_to_cart_button: `{{ 'products.page.add_to_cart_button' | t }}`,

          products_sold_out_variant: `{{ 'products.page.inventory.sold_out_variant' | t }}`,

          products_unavailable_variant: `{{ 'products.page.inventory.unavailable_variant' | t }}`,

          products_one_product: `{{ 'products.page.inventory.one_product' | t }}`,

          products_few_products: `{{ 'products.page.inventory.few_products' | t }}`,

          products_no_products: `{{ 'products.page.inventory.no_products' | t }}`,

          products_preorder: `{{ 'products.page.inventory.preoder' | t }}`,

          product_more_description_label: `{{ 'products.page.more_description_label' | t }}`,

          product_less_description_label: `{{ 'products.page.less_description_label' | t }}`,

          product_sku: `{{ 'products.page.sku' | t }}`,

          product_barcode: `{{ 'products.page.barcode' | t }}`,

          cart_add_error: `{{ 'cart.add_error' | t }}`,

          cart_general_error: `{{ 'cart.general_error' | t }}`

        },

        symbols: {

          arrow: `{%- render 'theme-symbols', icon: 'arrow-long' -%}`,

          zoom_out: `{%- render 'theme-symbols', icon: 'zoom-out' -%}`,

          zoom_in: `{%- render 'theme-symbols', icon: 'zoom-in' -%}`,

          close: `{%- render 'theme-symbols', icon: 'close' -%}`,

          toggle_pack: `<span class="low-dpi"><svg class="svg symbol symbol--minus" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path fill-rule="evenodd" d="M18 13H6v-2h12v2z" fill="#000"/></svg></span><span class="high-dpi"><svg class="svg symbol symbol--minus" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path fill-rule="evenodd" d="M18 12.5H6V11h12v1.5z" fill="#000"/></svg></span><span class="low-dpi"><svg class="svg symbol symbol--plus" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11 13V18H13V13H18V11H13V6H11V11H6V13H11Z" fill="black"/></svg></span><span class="high-dpi"><svg class="svg symbol symbol--plus" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path fill-rule="evenodd" d="M10.75 12.25V17h1.5v-4.75H17v-1.5h-4.75V6h-1.5v4.75H6v1.5h4.75z" fill="#000"/></svg></span>`

        },

        predictive_search_enabled: "{{ settings.predictive_search_enabled }}",

        predictive_search_placeholder: `<div class="sidebar__search-results"><a class="search-item blank"><div class="thumbnail"></div><div class="content"><h3 class="title"></h3><span class="caption"></span></div></a><a class="search-item blank"><div class="thumbnail"></div><div class="content"><h3 class="title"></h3><span class="caption"></span></div></a><a class="search-item blank"><div class="thumbnail"></div><div class="content"><h3 class="title"></h3><span class="caption"></span></div></a></div>`

      }

    }



		window.reorderSections();



    {%- if settings.predictive_search_enabled -%} 

      window.month_names = [`{{ 'general.date_format.month_names.January' | t }}`, `{{ 'general.date_format.month_names.February' | t }}`, `{{ 'general.date_format.month_names.March' | t }}`, `{{ 'general.date_format.month_names.April' | t }}`, `{{ 'general.date_format.month_names.May' | t }}`, `{{ 'general.date_format.month_names.June' | t }}`, `{{ 'general.date_format.month_names.July' | t }}`, `{{ 'general.date_format.month_names.August' | t }}`, `{{ 'general.date_format.month_names.September' | t }}`, `{{ 'general.date_format.month_names.October' | t }}`, `{{ 'general.date_format.month_names.November' | t }}`, `{{ 'general.date_format.month_names.December' | t }}`];

    {%- endif -%}



    if ( ! JSON.parse(document.getElementById('shopify-features').text).predictiveSearch ) {

      KROWN.settings.predictive_search_enabled = "false";

      document.querySelector('.sidebar__search.predictive-search').classList.remove('predictive-search');

    }



	</script>



	<script type="text/javascript">

		if ( 'ontouchstart' in window || window.DocumentTouch && document instanceof DocumentTouch ) {

		  document.querySelector('body').classList.remove('no-touch');

		  document.querySelector('body').classList.add('touch');

		} 

	</script>



  <script src="{{ 'theme.js' | asset_url }}" defer></script>



</body>

</html>