{%- liquid
  assign product = all_products[section.settings.product]
  assign current_variant = product.selected_or_first_available_variant
-%}

<product-page 
  id="product-{{ section.id }}" 
  class="page-section product featured-product gutter--on content-section {% if product == empty %} onboarding--true {% endif %}" 
  data-collection="{{ collection.handle }}" data-id="{{ product.id }}" 
  data-availability="{{ product.available }}"
  style="display:flex"
>

  <section class="product__gallery sticky">

    <div class="product-gallery product-gallery--slider product-gallery--fit product-gallery--mobile-variable product-gallery--dots" data-size="{{ product.media.size }}" data-mobile-style="product-gallery--fill-mobile" data-desktop-style="product-gallery--fit" data-video-looping="{{ section.settings.enable_video_looping }}">

       <css-slider 
          style="display:block"
          data-options='{
            "selector": ".product-gallery__item",
            "autoHeight": true,
            "thumbnailsDOM": "<div class=\"product-gallery--dots css-slider-dot-navigation\" style=\"display:none\"></div>",
            "navigationDOM": "<span style=\"display:none\" class=\"css-slider-button css-slider-prev\" aria-label=\"{{ 'general.accessibility_labels.previous' | t }}\"><svg viewBox=\"0 0 100 100\"><path d=\"M66.3964 39L63.7456 41.8947L69.8047 48.0702H23V51.9298H69.8047L63.7456 58.2982L66.3964 61L77 50L66.3964 39Z\" transform=\"translate(100, 100) rotate(180)\" class=\"arrow\"></path></svg></span><span style=\"display:none\" class=\"css-slider-button css-slider-next\" aria-label=\"{{ 'general.accessibility_labels.next' | t }}\"><svg viewBox=\"0 0 100 100\"><path d=\"M66.3964 39L63.7456 41.8947L69.8047 48.0702H23V51.9298H69.8047L63.7456 58.2982L66.3964 61L77 50L66.3964 39Z\" class=\"arrow\" ></path></svg></span>",
            "listenScroll": true
          }'
        > 

        {%- if product.media.size == 0 -%} 
          <div class="product-gallery__item">
            <span class="onboarding-svg with-background">
              {{ 'product-1' | placeholder_svg_tag }}
            </span>
          </div>
        {%- else -%}
          {%- liquid
            for media in product.media
              render 'product-media', media: media, enable_zoom: section.settings.enable_zoom, loop: section.settings.enable_video_looping, index: forloop.index0
            endfor
          -%}
        {%- endif -%}

      </css-slider>

    </div>

    {% assign first_3d_model = product.media | where: "media_type", "model" | first %}

    {%-if first_3d_model %}
      <button
        title="{{ 'products.page.view_in_space_label' | t }}"
        class="product-gallery__view-in-space"
        data-shopify-xr
        data-shopify-first-model3d-id="{{ first_3d_model.id }}"
        data-shopify-model3d-id="{{ first_3d_model.id }}"
        data-shopify-title="{{ product.title | escape }}"
        data-shopify-xr-hidden
      >
        <span aria-hidden="true">{%- render 'theme-symbols', icon: 'model-button' -%}</span>
        <span class='product-gallery__view-in-space-text'>{{ 'products.page.view_in_space' | t }}</span>
      </button>
    {% endif %}

  </section>

  <div class="product__text rte">

    {%- assign product_form_id = 'product-form-' | append: section.id -%}

    {%- for block in section.blocks -%}
      {%- case block.type -%}

        {%- when '@app' -%}
          {% render block %}

        {%- when 'product_link' -%}
          {%- unless product == blank -%}
            <a href="{{ product.url }}" style="margin-bottom:1.5em">{{ 'products.featured_product.view_product_details' | t }}</a>
          {%- endunless -%}

        {%- when 'text' -%} 

          <div class="product__subtitle remove-end-margin
            {% if block.settings.text_style == 'subtitle' %} body-text-sm {% elsif block.settings.text_style == 'uppercase' %} body-text-sm text-transform-uppercase {% endif %}" 
            {{ block.shopify_attributes }}
          >
            {{- block.settings.text -}}
          </div>

        {%- when 'title' -%}
          <h3 class="h1" {{ block.shopify_attributes }}>
            {%- liquid
              unless product == empty
                echo product.title | escape
              else
                echo 'general.onboarding.product_title' | t
              endunless
            -%}
          </h3>

        {%- when 'price' -%}

          <div {{ block.shopify_attributes }}>
            {%- unless product == empty -%}
              {%- render 'product-price', variant: current_variant, id: section.id, text_size_class: 'body-text-lg' -%}
              {%- form 'product', product, id: 'product-form-installment' -%}
                <input type="hidden" name="id" value="{{ current_variant.id }}">
                {{ form | payment_terms }}
              {%- endform -%}
            {%- else -%}
              <div class="product__price body-text-lg">
                <span class="product__price--original">{{ 2999 | money }}</span>
              </div>
            {%- endunless -%}
          </div>

        {%- when 'tax_info' -%}

          {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
            <div class="product-policies" data-product-policies {{ block.shopify_attributes }}>
              {% if shop.taxes_included %}
                {{ 'products.page.include_taxes' | t }}
              {%- endif -%}
              {%- if shop.shipping_policy.body != blank -%}
                {{ 'products.page.shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- endif -%}
            </div>
          {%- endif -%}

        {%- when 'sku_barcode' -%}

          <div class="product__sku-barcode" {{ block.shopify_attributes }}>
            <span class="product__sku">
              {%- if current_variant.sku != empty -%}
                {{ 'products.page.sku' | t }}{{ current_variant.sku | escape }}
              {%- endif -%}
            </span>
             <span class="product__barcode">
              {%- if current_variant.barcode != empty -%}
                {{ 'products.page.barcode' | t }}{{ current_variant.barcode | escape }}
              {%- endif -%}
            </span>
          </div>


        {%- when 'variant_picker' -%}

          {%- unless product == blank -%}

            <product-variants 
              data-variants="{{ product.options_with_values.size }}"
              data-type="select"
              data-hide-variants="true"
              data-url="{{ product.url }}" data-id="{{ section.id }}"
              data-no-history
              {{ block.shopify_attributes }}
            >

              <div class="product-variants" {% if product.has_only_default_variant %} style="display:none" {% endif %}>
                {%- for option in product.options_with_values -%}
                  <div class="product-variant {% if block.settings.show_variant_labels %} product-variant--show-label {% endif %}">
                    <label {% unless block.settings.show_variant_labels %} class="hidden" {% endunless %} for="product-{{ option.name | escape | downcase | strip }}-{{ section.id }}">{{ option.name }}</label>
                    <select class="product-variant-container" id="product-{{ option.name | escape | downcase | strip }}-{{ section.id }}">
                      {%- for value in option.values -%}
                        <option class="product-variant-value" value="{{ value | escape }}" {% if option.selected_value == value %}selected{% endif %}>
                          {{ value | escape }}
                        </option>
                      {%- endfor -%}
                    </select>
                  </div>
                {%- endfor -%}
              </div>

              <noscript>
                <select name="id" id="Variants-{{ section.id }}" class="productSelect" 
                  {% if product.has_only_default_variant %} style="display:none!important" {% endif %}
                  form="{{ product_form_id }}"
                >
                  {%- for variant in product.variants -%}
                    <option
                      {% if variant == current_variant %}selected="selected"{% endif %}
                      {% if variant.available == false %}disabled{% endif %}
                      value="{{ variant.id }}"
                    >
                      {{ variant.title }}
                      {%- if variant.available == false %} - {{ 'products.page.inventory.sold_out_variant' | t }}{% endif %}
                      - {{ variant.price | money | strip_html }}
                    </option>
                  {%- endfor -%}
                </select>
              </noscript>

              {%- if block.settings.show_quantities != "no" -%} 
                <span class="variant-quantity body-text-sm" data-type="{{ block.settings.show_quantities }}"></span>
                {%- capture variant_inventory -%}
                  [{%- for variant in product.variants -%}{
                    "id": {{ variant.id }}{%- if variant.inventory_management != null -%}, 
                    "quantity": {{ variant.inventory_quantity }}, 
                    "inventory": "{{ variant.inventory_policy }}"{%- endif -%}
                    {%- if variant.available == false -%},"unavailable": true{%- endif -%}
                    }{%- unless forloop.last -%},{%- endunless -%}
                  {%- endfor -%}]
                {%- endcapture -%}
                <span class="variant-quantity-data" data-inventory='{{ variant_inventory }}'></span>
              {%- endif -%}

              <script type="application/json">
                {{ product.variants | json }}
              </script>

            </product-variants>

          {%- endunless -%}

        {%- when 'buy_buttons' -%}

          {%- unless product == blank -%}

            <product-form 
              id="add-to-cart-{{ section.id }}" class="product__form" data-type="{{ settings.cart_action }}" 
              {{ block.shopify_attributes }}
            >

              {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}

                <template>
                  <input type="hidden" name="id" value="{{ current_variant.id }}">
                </template>
                <script>
                  document.getElementById('add-to-cart-{{ section.id }}').querySelector('form').append(document.getElementById('add-to-cart-{{ section.id }}').querySelector('template').content.cloneNode(true));
                </script>

                <div class="product__cart-functions">

                  <div class="flex-buttons">

                    {%- liquid 
                      if block.settings.show_quantity_selector
                        render 'product-quantity', variant: current_variant, id: section.id
                      endif
                    -%}

                    <button type="submit" name="add" class="product__add-to-cart button {% unless current_variant.available %} disabled {% endunless %}">
                      <span class="add-to-cart__text">
                        {%- liquid
                          if current_variant.available
                            echo 'products.page.add_to_cart_button' | t
                          else
                            echo 'products.page.inventory.sold_out_variant' | t
                          endif
                        -%}
                      </span>
                      <span class="add-to-cart__symbol" aria-hidden="true">{%- render 'theme-symbols', icon: 'cart' -%}</span>
                      <span class="add-to-cart__preloader" aria-hidden="true"></span>
                    </button>

                  </div>

                  {%- liquid
                    if block.settings.show_dynamic_checkout
                      echo form | payment_button
                    endif
                  -%}
                  
                </div>

              {%- endform -%}

            </product-form>

          {%- endunless -%}

        {%- when 'rating' -%}
          {%- render 'product-rating', product: product -%}

      {%- endcase -%}

    {%- endfor -%}

  </div>

  {%- if first_3d_model -%}
    <script type="application/json" id="ProductJSON-{{ product.id }}">
      {{ product.media | where: 'media_type', 'model' | json }}
    </script>
  {%- endif -%}

  <script>
    ProductGalleryResizeHelper(document.querySelector('#product-{{ section.id }} .product-gallery'));
  </script>

</product-page>

{% schema %}
	{
    "name": "t:sections.featured-product.name",
    "class": "mount-product-gallery mount-css-slider",
    "blocks": [
      {
        "type": "@app"
      },
      {
        "type": "text",
        "name": "t:sections.main-product.blocks.text.name",
        "settings": [
          {
            "id": "text",
            "type": "richtext",
            "default": "<p>Text block</p>",
            "label": "t:sections.main-product.blocks.text.settings.text.label"
          },
          {
            "type": "select",
            "id": "text_style",
            "label": "t:sections.main-product.blocks.text.settings.text_style.label",
            "options": [
              {
                "value": "body",
                "label": "t:sections.main-product.blocks.text.settings.text_style.options__1.label"
              },
              {
                "value": "subtitle",
                "label": "t:sections.main-product.blocks.text.settings.text_style.options__2.label"
              },
              {
                "value": "uppercase",
                "label": "t:sections.main-product.blocks.text.settings.text_style.options__3.label"
              }
            ],
            "default": "body"
          }
        ]
      },
      {
        "type": "title",
        "name": "t:sections.main-product.blocks.title.name",
        "limit": 1
      },
      {
        "type": "price",
        "name": "t:sections.main-product.blocks.price.name",
        "limit": 1
      },
      {
        "type": "tax_info",
        "name": "t:sections.main-product.blocks.tax_info.name",
        "limit": 1
      },
      {
        "type": "sku_barcode",
        "name": "t:sections.main-product.blocks.sku_barcode.name",
        "limit": 1
      },
      {
        "type": "variant_picker",
        "name": "t:sections.main-product.blocks.variant_picker.name",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_variant_labels",
            "label": "t:sections.main-product.blocks.variant_picker.settings.show_variant_labels.label",
            "default": true
          },
           {
            "type": "select",
            "id": "show_quantities",
            "label": "t:sections.main-product.blocks.variant_picker.settings.low_inventory_notification.label",
            "info": "t:sections.main-product.blocks.variant_picker.settings.low_inventory_notification.info",
            "options": [
              {
                "value": "no",
                "label": "t:sections.main-product.blocks.variant_picker.settings.low_inventory_notification.options__1.label"
              },
              {
                "value": "below",
                "label": "t:sections.main-product.blocks.variant_picker.settings.low_inventory_notification.options__2.label"
              },
              {
                "value": "always",
                "label": "t:sections.main-product.blocks.variant_picker.settings.low_inventory_notification.options__3.label"
              }
            ],
            "default": "no"
          }
        ]
      },
      {
        "type": "buy_buttons",
        "name": "t:sections.main-product.blocks.buy_buttons.name",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_dynamic_checkout",
            "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
            "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "show_quantity_selector",
            "label": "t:sections.main-product.blocks.buy_buttons.settings.show_quantity_selector.label",
            "default": true
          }
        ]
      },
      {
        "type": "rating",
        "name": "t:settings_schema.product-grid.settings.header__1.content",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "t:settings_schema.product-grid.settings.header__1.info"
          }
        ]
      },
      {
        "type": "product_link",
        "name": "t:sections.featured-product.blocks.product_link.name",
        "limit": 1
      }
    ],
    "settings": [
      {
        "type": "product",
        "id": "product",
        "label": "t:sections.featured-product.settings.product.label"
      },
      {
        "type": "header",
        "content": "t:sections.main-product.settings.header.content",
        "info": "t:sections.main-product.settings.header.info"
      },
      {
        "type": "checkbox",
        "id": "enable_zoom",
        "label": "t:sections.main-product.settings.enable_zoom.label",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_video_looping",
        "label": "t:sections.main-product.settings.enable_video_looping.label",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "t:sections.featured-product.name",
        "blocks": [
          {
            "type": "text",
            "settings": {
              "text": "<p>{{ section.settings.product.vendor }}</p>",
              "text_style": "subtitle"
            }
          },
          {
            "type": "title"
          },
          {
            "type": "price"
          },
          {
            "type": "variant_picker",
            "settings": {
              "show_variant_labels": true,
              "show_quantities": "no"
            }
          },
          {
            "type": "buy_buttons",
            "settings": {
              "show_dynamic_checkout": true,
              "show_quantity_selector": true
            }
          },
          {
            "type": "product_link"
          }
        ]
      }
    ]
   }
{% endschema %}