<div class="footer"> 

  {%- for block in section.blocks -%}

    {%- case block.type -%}

      {%- when 'text' -%}

        <div class="footer-item footer-text {{ block.settings.size }}" {{ block.shopify_attributes }}>
        
          {%- unless block.settings.title == blank -%}
            <h5 class="footer-item__title h4">{{ block.settings.title | escape }}</h5>
          {%- endunless -%}

          <div class="rte">
            {{ block.settings.content }}
          </div>    

        </div>

      {%- when 'menus' -%}

        <div class="footer-item footer-menus" {{ block.shopify_attributes }}>

          {%- unless block.settings.menu_1 == blank -%}

            <div>

              {%- unless block.settings.title_1 == blank -%}
                <h5 class="footer-item__title h4">{{ block.settings.title_1 | escape }}</h5>
              {%- endunless -%}
              
              <div class="footer-links body-text-sm">
                {%- for link in linklists[block.settings.menu_1].links -%}
                  <span>
                    <a href="{{ link.url | escape }}">{{ link.title | escape }}</a>
                  </span>
                {%- endfor -%}
              </div>

            </div>

          {%- endunless -%}

          {%- unless block.settings.menu_2 == blank -%}

            <div>

              {%- unless block.settings.title_2 == blank -%}
                <h5 class="footer-item__title h4">{{ block.settings.title_2 | escape }}</h5>
              {%- endunless -%}
              
              <div class="footer-links body-text-sm">
                {%- for link in linklists[block.settings.menu_2].links -%}
                  <span>
                    <a href="{{ link.url | escape }}">{{ link.title | escape }}</a>
                  </span>
                {%- endfor -%}
              </div>

            </div>

          {%- endunless -%}

        </div>

      {%- when 'newsletter' -%}

        <div class="footer-item footer-newsletter" {{ block.shopify_attributes }}>

          {%- unless block.settings.title == blank -%}
            <h5 class="footer-item__title h4">{{ block.settings.title | escape }}</h5>
          {%- endunless -%}

          {%- assign form_id = 'newsletter-form-' | append: section.id -%}
          {%- render 'newsletter-form', id: form_id, class: 'newsletter__form body-text-sm' -%}

        </div>

      {%- when 'social' -%}

        <div class="footer-item footer-social" {{ block.shopify_attributes }}>
          
          {%- unless block.settings.title == blank -%}
            <h5 class="footer-item__title h4">{{ block.settings.title | escape }}</h5>
          {%- endunless -%}

          {%- render 'social-icons' -%}

        </div>

      {%- when 'image' -%}
        <div class="footer-item" {{ block.shopify_attributes }}>
          {%- liquid
            assign sizes = 'sizes="(max-width: 648px) calc(100vw - 20px), (min-width: 649px) and (max-width: 948px) calc(50vw / 2), calc((100vw - 200px) / 2)"'
            render 'lazy-image', image: block.settings.image, sizes: sizes
          -%}
        </div>

    {%- endcase -%}

  {%- endfor -%}

  <div class="footer-item footer-info localization-form-holder" {{ block.shopify_attributes }}>

    {%- render 'localization-form', location: 'footer', show_currency_selector: section.settings.show_currency_selector, show_locale_selector: section.settings.show_locale_selector -%}

    {%- if section.settings.show_payment_icons and shop.enabled_payment_types != empty -%}
      <div class="footer-icons">
        {%- liquid
          for type in shop.enabled_payment_types
            echo type | payment_type_svg_tag
          endfor
        -%}
      </div>
    {%- endif -%}

  </div>
    
  <div class="footer-copyright body-text-sm">
    <span>{{ 'general.copyright' | t }} &copy; {{ 'now' | date: "%Y" }} <a href="{{ routes.root_url }}">{{ shop.name | escape }}</a><span class="powered-by-shopify">. {{ powered_by_link }}</span></span>
  </div>

</div>

{% schema %}
  {
    "name": "t:sections.footer.name",
    "class": "mount-footer",
    "max_blocks": 4,
    "settings": [
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "t:sections.footer.settings.show_payment_icons.label",
        "default": true
      },
      {
        "type": "header",
        "content": "t:sections.footer.settings.language_selector.content",
        "info": "t:sections.footer.settings.language_selector.info"
      },
      {
        "type": "checkbox",
        "id": "show_locale_selector",
        "label": "t:sections.footer.settings.language_selector_show.label",
        "default": true
      },
      {
        "type": "header",
        "content": "t:sections.footer.settings.currency_selector.content",
        "info": "t:sections.footer.settings.currency_selector.info"
      },
      {
        "type": "checkbox",
        "id": "show_currency_selector",
        "label": "t:sections.footer.settings.currency_selector_show.label",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "t:sections.footer.blocks.text.name",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "t:sections.footer.blocks.text.settings.title.label",
            "default": "Contact information"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "t:sections.footer.blocks.text.settings.content.label",
            "default": "<p>Write a short statement about your brand.</p>"
          },
          {
            "type": "select",
            "id": "size",
            "label": "t:sections.footer.blocks.text.settings.text_size.label",
            "options": [
              {
                "value": "",
                "label": "t:sections.footer.blocks.text.settings.text_size.options__1.label"
              },
              {
                "value": "footer-text--large",
                "label": "t:sections.footer.blocks.text.settings.text_size.options__2.label"
              }
            ],
            "default": "footer-text--large"
          }
        ]
      },
      {
        "type": "menus",
        "name": "t:sections.footer.blocks.menus.name",
        "settings": [
          {
            "type": "text",
            "id": "title_1",
            "label": "t:sections.footer.blocks.menus.settings.title_1.label",
            "default": "Menu"
          },
          {
            "type": "link_list",
            "id": "menu_1",
            "label": "t:sections.footer.blocks.menus.settings.menu_1.label",
            "default": "footer",
            "info": "t:sections.footer.blocks.menus.settings.menu_1.info"
          },
          {
            "type": "text",
            "id": "title_2",
            "label": "t:sections.footer.blocks.menus.settings.title_2.label",
            "default": "Menu"
          },
          {
            "type": "link_list",
            "id": "menu_2",
            "label": "t:sections.footer.blocks.menus.settings.menu_2.label",
            "info": "t:sections.footer.blocks.menus.settings.menu_1.info"
          }
        ]
      },
      {
        "type": "newsletter",
        "name": "t:sections.footer.blocks.newsletter.name",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "t:sections.footer.blocks.text.settings.title.label",
            "default": "Newsletter"
          }
        ]
      },
      {
        "type": "social",
        "name": "t:sections.footer.blocks.social.name",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "t:sections.footer.blocks.text.settings.title.label",
            "default": "Follow us"
          }
        ]
      },
      {
        "type": "image",
        "name": "t:sections.footer.blocks.image.name",
        "limit": 1,
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "t:sections.footer.blocks.image.settings.image.label"
          }
        ]
      }
    ]
  }
{% endschema %}