<div class="content-section full-width-section-content gutter--{% if section.settings.gutter_enabled %}on{% else %}off{% endif %} image-text image-text--size-{{ section.blocks.size }}">

  {%- for block in section.blocks -%}

    <div class="image-text__container" {{ block.shopify_attributes }}>

      {%- if block.settings.url != blank and block.settings.button_label == blank -%}
        <a href="{{ block.settings.url | escape }}">
      {%- endif -%}

        <div class="image-text__content aligned-text-content {{ section.settings.text_alignment }}">
          <div>
            
            <h3 class="image-text__title {% if section.settings.text_size == 'regular' %} h1 {% elsif section.settings.text_size == 'large' %} h0 {% else %} hh {% endif %}"><span>{{ block.settings.title | escape }}</span></h3>

            {%- unless block.settings.body == blank -%}
              <div class="image-text__body rte">{{ block.settings.body }}</div>
            {%- endunless -%}

            {%- unless block.settings.button_label == blank -%} 
              <a class="button button--solid" {% unless block.settings.url == blank %} href="{{ block.settings.url | escape }} {% endunless %}" title="{{ block.settings.button_label | escape }}">{{ block.settings.button_label | escape }}</a>
            {%- endunless -%}

          </div>
        </div>
      
        <div class="image-text__background">
          {%- unless block.settings.image == blank -%}
            {%- capture sizes -%}
              sizes="(max-width: 768px) max(100vw, 50vh),
              {% if section.blocks.size == 3 %}
                (min-width: 769px) and (max-width: 948px) max(33vw, {{ section.settings.image_height }}), max(calc((100vw - 200px) / 3, {{ section.settings.image_height }})
              {% elsif section.blocks.size == 2 %}
                (min-width: 769px) and (max-width: 948px) max(50vw, {{ section.settings.image_height }}), max(calc((100vw - 200px) / 2, {{ section.settings.image_height }})
              {% else %}
                (min-width: 769px) and (max-width: 948px) max(100vw, 50vh), max(calc(100vw - 200px), {{ section.settings.image_height }})
              {% endif %}
              "
            {%- endcapture -%}
            {%- render 'lazy-image', image: block.settings.image, type: 'background', alt: block.settings.title, sizes: sizes -%}
          {%- else -%}
            <span class="onboarding-svg onboarding-background">{{ 'image' | placeholder_svg_tag }}</span>
          {%- endunless -%}
        </div>

      {%- if block.settings.url != blank and block.settings.button_label == blank -%}
        </a>
      {%- endif -%}

    </div>

  {%- endfor -%}

  {%- if section.settings.color_text != 'rgba(0,0,0,0)' -%}

    {%- liquid
      assign color_text = section.settings.color_text
      assign color_text_brightness = color_text | color_brightness
      if color_text_brightness > 150
        assign color_text_foreground = '#000'
      else
        assign color_text_foreground = '#fff'
      endif
    -%}

    {% style %}
      #shopify-section-{{ section.id }}, 
      #shopify-section-{{ section.id }} a {
        color: {{ section.settings.color_text }};
      }
      #shopify-section-{{ section.id }} a.button--solid {
        background: {{ section.settings.color_text }};
        color: {{ color_text_foreground }};
      }
      #shopify-section--{{ section.id }} .button--solid path {
        fill: {{ color_text_foreground }};
      }
      #shopify-section-{{ section.id }} .image-text__title span {
        background-image: linear-gradient(to right, {{ section.settings.color_text }}, {{ section.settings.color_text }});
      }
    {% endstyle %}
  {%- endif -%}

  {%- if section.settings.color_bg != 'rgba(0,0,0,0)' -%}
    {% style %}
      #shopify-section-{{ section.id }} .image-text__background:before {
        background: {{ section.settings.color_bg }};
      }
    {% endstyle %}
  {%- endif -%}

  {% style %}
    #shopify-section-{{ section.id }} .image-text {
      height: {{ section.settings.image_height }};
    }
    #shopify-section-{{ section.id }} .image-text__content > div {
      max-width: {{ section.settings.text_width }};
    }
  {% endstyle %}
  
</div>

{% schema %}
  {
    "name": "t:sections.image-with-text.name",
    "max_blocks": 3,
    "blocks": [
      {
        "type": "image",
        "name": "t:sections.image-with-text.blocks.image.name",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "t:sections.image-with-text.blocks.image.settings.title.label",
            "default": "Image with text"
          },
          {
            "type": "richtext",
            "id": "body",
            "label": "t:sections.image-with-text.blocks.image.settings.body.label",
            "default": "<p>Share your latest products, collections or promotions!</p>"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "t:sections.image-with-text.blocks.image.settings.button_label.label"
          },
          {
            "type": "url",
            "id": "url",
            "label": "t:sections.image-with-text.blocks.image.settings.url.label",
            "info": "t:sections.image-with-text.blocks.image.settings.url.info"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "t:sections.image-with-text.blocks.image.settings.image.label"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "select",
        "id": "image_height",
        "label": "t:sections.image-with-text.settings.image_height.label",
        "options": [
          {
            "value": "25vh",
            "label": "t:sections.image-with-text.settings.image_height.options__1.label"
          },
          {
            "value": "50vh",
            "label": "t:sections.image-with-text.settings.image_height.options__2.label"
          },
          {
            "value": "75vh",
            "label": "t:sections.image-with-text.settings.image_height.options__3.label"
          },
          {
            "value": "100vh",
            "label": "t:sections.image-with-text.settings.image_height.options__4.label"
          }
        ],
        "default": "50vh"
      },
      {
        "type": "select",
        "id": "text_width",
        "label": "t:sections.image-with-text.settings.text_width.label",
        "options": [
          {
            "value": "50%",
            "label": "t:sections.image-with-text.settings.text_width.options__1.label"
          },
          {
            "value": "75%",
            "label": "t:sections.image-with-text.settings.text_width.options__2.label"
          },
          {
            "value": "100%",
            "label": "t:sections.image-with-text.settings.text_width.options__3.label"
          }
        ],
        "default": "50%"
      },
      {
        "type": "select",
        "id": "text_size",
        "label": "t:sections.image-with-text.settings.text_size.label",
        "options": [
          {
            "value": "regular",
            "label": "t:sections.image-with-text.settings.text_size.options__1.label"
          },
          {
            "value": "large",
            "label": "t:sections.image-with-text.settings.text_size.options__2.label"
          },
          {
            "value": "huge",
            "label": "t:sections.image-with-text.settings.text_size.options__3.label"
          }
        ],
        "default": "regular"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "t:sections.image-with-text.settings.text_alignment.label",
        "options": [
          {
            "value": "horizontal-left vertical-top",
            "label": "t:sections.image-with-text.settings.text_alignment.options__1.label"
          },
          {
            "value": "horizontal-center vertical-top",
            "label": "t:sections.image-with-text.settings.text_alignment.options__2.label"
          },
          {
            "value": "horizontal-right vertical-top",
            "label": "t:sections.image-with-text.settings.text_alignment.options__3.label"
          },
          {
            "value": "horizontal-left vertical-middle",
            "label": "t:sections.image-with-text.settings.text_alignment.options__4.label"
          },
          {
            "value": "horizontal-center vertical-middle",
            "label": "t:sections.image-with-text.settings.text_alignment.options__5.label"
          },
          {
            "value": "horizontal-right vertical-middle",
            "label": "t:sections.image-with-text.settings.text_alignment.options__6.label"
          },
          {
            "value": "horizontal-left vertical-bottom",
            "label": "t:sections.image-with-text.settings.text_alignment.options__7.label"
          },
          {
            "value": "horizontal-center vertical-bottom",
            "label": "t:sections.image-with-text.settings.text_alignment.options__8.label"
          },
          {
            "value": "horizontal-right vertical-bottom",
            "label": "t:sections.image-with-text.settings.text_alignment.options__9.label"
          }
        ],
        "default": "horizontal-left vertical-bottom"
      },
      {
        "type": "header",
        "content": "t:sections.custom-colors.heading.label"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "t:sections.custom-colors.text.label",
        "default": "rgba(0,0,0,0)"
      },
      {
        "type": "color",
        "id": "color_bg",
        "label": "t:sections.custom-colors.background.label",
        "default": "rgba(0,0,0,0)"
      },
      {
        "type": "header",
        "content": "t:sections.custom-gutter.heading.content"
      },
      {
        "type": "checkbox",
        "id": "gutter_enabled",
        "label": "t:sections.custom-gutter.gutter_enabled.label"
      }
    ], 
    "presets": [{
      "name": "t:sections.image-with-text.presets.name",
      "blocks": [{
        "type": "image"
      }]
    }]
  }
{% endschema %}