<div class="compact-header">
	<div class="compact-header-container">
    {%- render 'breadcrumb', terms: search.terms -%}
    <h1 class="search-header__title h0">{{ 'search.page.title' | t }}</h1>
  </div>
</div>

<div class="gutter--on">
	<div class="search-page-form">
		{%- liquid
	    if search.performed and search.results_count > 0
	      assign search_label = 'search.page.search_again_button_label' | t 
	    else 
	      assign search_label = 'search.page.search_button_label' | t 
	    endif
	    assign search_placeholder = 'search.page.form_placeholder' | t
	    render 'search-form', search_label: search_label, search_placeholder: search_placeholder 
    -%}
	</div>
	{%- if search.performed and search.results_count == 0 -%}
		<p class="subtitle">{{ 'search.page.no_results' | t: terms: search.terms }}</p>
	{%- endif -%}
</div>

{%- if search.performed and search.results_count > 0 -%}

	{% comment %}
		Show collection page without form
	{% endcomment %}

	{%- paginate search.results by section.settings.products_number -%}

		{%- liquid
			assign products_in_current = false
			assign offset = paginate.current_offset | plus: 1
			assign page_size = paginate.current_offset | plus: paginate.page_size | at_most: paginate.items
			assign products_results = search.results | where: 'object_type', 'product'
		-%}

		{%- if products_results.size > 0 -%}

			<div class="compact-header">

				<div class="compact-header-container">

			    <h1 class="search-header__title h1">{{ 'search.page.products_found' | t: terms: search.terms }}</h1>

			    {%- if section.settings.enable_filtering or section.settings.enable_sorting and search.results_count > 0 -%}
			    	{%- render 'facets', results: search, enable_filtering: section.settings.enable_filtering, enable_sorting: section.settings.enable_sorting, offset: offset, page_size: page_size -%}
			    {%- else -%}
			    	<div class="search-header__description rte">{{ 'search.page.results_count' | t: offset: offset, page_size: page_size, count: paginate.items }}</div>
			    {%- endif -%}

			    {%- assign products_in_current = true -%}
			    
			  </div>

			</div>

		{%- endif -%}

    <div id="CollectionProductGrid">

			{%- if products_results.size > 0 -%}

				<div class="gutter--on">
				
					<div id="main-collection-product-grid" data-id="{{ section.id }}" class="collection collection--{{ settings.grid_style }} collection--grid">

						{%- liquid
							for product in products_results
								render 'product-item', product: product
							endfor
						-%}

			    </div>
					
				</div>

			{%- endif -%}

	    {%- if search.types contains 'page' or search.types contains 'article' -%}

	    	{%- capture search_results -%}

	    		{%- for result in search.results -%}

	    			{%- liquid
	    				if result.object_type == 'product'
	    					continue
	    				endif
	    			-%}

						<div class="blog-item">

							<div class="blog-item__content">
								
								<div class="blog-item__title-holder">
									<a href="{{ result.url | escape }}" title="{{ result.title | escape }}">
										<h3 class="blog-item__title h0"><span>{{ result.title | escape }}</span></h3>
									</a>
								</div>

								<div class="blog-item__excerpt">
									<p>{{ result.content | strip_html | truncatewords: 35 }}</p>
								</div>

								<div><a class="blog-item__more" href="{{ result.url | escape }}">{{ 'blog.grid.read_more_label' | t }}</a></div>

							</div>

						</div>

					{%- endfor -%}

				{%- endcapture -%}

				{%- if search_results != blank -%}

					<div class="compact-header">
						<div class="compact-header-container">
					    <h2 class="search-header__title h1">{{ 'search.page.pages_and_articles_found' | t: terms: search.terms }}</h2>
					    {%- unless products_in_current -%}
				    		<div class="search-header__description rte">{{ 'search.page.results_count' | t: offset: offset, page_size: page_size, count: paginate.items }}</div>
				    	{%- endunless -%}
					  </div>
					</div>

					<div class="blog--grid blog--images-false gutter--on">
						{{ search_results }}
					</div>

				{%- endif -%}

	    {%- endif -%}

		  {%- liquid
		    if paginate.pages > 1
		      render 'pagination', paginate: paginate
		    endif
		  -%}

		</div>

	{%- endpaginate -%}

{%- endif -%}

{% schema %}
  {
    "name": "t:sections.main-search.name",
    "class": "main-search",
    "settings": [
      {
        "type": "range",
        "id": "products_number",
        "label": "t:sections.main-search.settings.products_per_page.label",
        "min": 12,
        "max": 48,
        "step": 4,
        "default": 24
      },
      {
        "type": "header",
        "content": "t:sections.main-collection-product-grid.settings.header__1.content"
      },
      {
        "id": "enable_filtering",
        "type": "checkbox",
        "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
        "default": false,
        "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
      },
      {
        "id": "enable_sorting",
        "type": "checkbox",
        "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label",
        "default": false
      }
    ]
  }
{% endschema %}