{%- liquid
  if section.settings.enable_filtering or section.settings.enable_sorting and collection.products.size > 0
    render 'facets', results: collection, enable_filtering: section.settings.enable_filtering, enable_sorting: section.settings.enable_sorting
  endif
-%}

<div id="CollectionProductGrid">

  {%- paginate collection.products by section.settings.products_number -%}
    
    <div class="gutter--on">

      <div id="main-collection-product-grid" data-id="{{ section.id }}" class="collection collection--{{ settings.grid_style }} collection--grid mount-collection">

        {%- for product in collection.products -%}
          {%- render 'product-item', product: product, index: forloop.index -%}
        {%- else -%}
          <p style="margin-left:calc(var(--grid-gutter)/2)" class="no-content-message">{{ 'products.grid.no_products_text' | t }}</p>
        {%- endfor -%}

      </div>

      {%- liquid
        if paginate.pages > 1
          render 'pagination', paginate: paginate
        endif
      -%}

    </div>

  {%- endpaginate -%}

</div>

{%- liquid
  assign color_grid_bg = settings.grid_color_bg
  assign color_grid_text = settings.grid_color_text
-%}
{% style %}
  :root {
    --color-grid-bg: {{ color_grid_bg | color_extract: 'red' }}, {{ color_grid_bg | color_extract: 'green' }}, {{ color_grid_bg | color_extract: 'blue' }};
    --color-grid-text: {{ color_grid_text | color_extract: 'red' }}, {{ color_grid_text | color_extract: 'green' }}, {{ color_grid_text | color_extract: 'blue' }};
  }
{% endstyle %}

{% schema %}
  {
    "name": "t:sections.main-collection-product-grid.name",
    "class": "main-collection-product-grid",
    "settings": [
      {
        "type": "range",
        "id": "products_number",
        "label": "t:sections.main-collection-product-grid.settings.products_per_page.label",
        "min": 12,
        "max": 48,
        "step": 4,
        "default": 24
      },
      {
        "type": "header",
        "content": "t:sections.main-collection-product-grid.settings.header__1.content"
      },
      {
        "id": "enable_filtering",
        "type": "checkbox",
        "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
        "default": true,
        "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
      },
      {
        "id": "enable_sorting",
        "type": "checkbox",
        "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label",
        "default": true
      }
    ]
  }
{% endschema %}