<div class="main-password-header">

  <h1>
    {%- if section.settings.logo_src -%}
			<a class="logo__image" href="{{ routes.root_url }}" style="display:block;mheight:{{ section.settings.logo_width | divided_by: section.settings.logo_src.aspect_ratio }}px">
				<img src="{{ section.settings.logo_src | img_url: 'master' }}" alt="{{ shop.name | escape }}" style="width: {{ section.settings.logo_width | escape }}px;" width="{{ section.settings.logo_src.width }}" height="{{ section.settings.logo_src.height }}" />
			</a>
		{%- else -%}
			<a class="logo__text" href="{{ routes.root_url }}">{{ shop.name | escape }}</a>
		{%- endif -%}
  </h1>

	<p class="password-login">
	  <a href="#login-modal" class="js-toggle-login-modal">
	    {{ 'general.password_page.password_link' | t }}
	    {% render 'theme-symbols', icon: 'lock' %}
	  </a>
	</p>

</div>

</div>

<div id="login-modal" aria-hidden="true" class="hidden">

<div class="login-modal">

	{% form 'storefront_password' %}
    <div class="password-input-group">
			<p class="h2">{{ 'general.password_page.login_form_heading' | t }}</p>
      {% render 'form-errors', form: form %}
			<label for="password" class="hidden">{{ 'general.password_page.login_form_password_label' | t }}</label>
			<input type="password" name="password" id="password" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}" autofocus>
			<input class="button button--solid" type="submit" name="commit" value="{{ 'general.password_page.login_form_submit' | t }}">
		</div>
	{% endform %}

	<p class="password-form-heading">{{ 'general.password_page.admin_link_html' | t }}</p>
	
	<div class="basicLightboxClose">×</div>

</div>

<script type="text/javascript">

	window.onload = function(){

		if ( document.querySelector('.alert--error') ) {
			setTimeout(function(){
				modal.show(function(){
					document.querySelector('.basicLightboxClose').addEventListener('click', function(){
						modal.close();
					});
				});
			}, 200);
		}

		const modal = basicLightbox.create(document.getElementById('login-modal'));
		const modalEvent = document.querySelector('.js-toggle-login-modal').addEventListener('click', function(){
			modal.show(function(){
				document.querySelector('.basicLightboxClose').addEventListener('click', function(){
					modal.close();
				});
			});
		});
	}

</script>

{% schema %}
	{
    "name": "t:sections.main-password-header.name",
    "class": "main-password-wrapper main-password-wrapper--top",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo_src",
        "label": "t:sections.sidebar.settings.image.label"
      },
      {
        "type": "range",
        "id": "logo_width",
        "label": "t:sections.sidebar.settings.image_width.label",
        "min": 50,
        "max": 250,
        "step": 2,
        "default": 100,
        "unit": "px"
      }
    ]
  }
{% endschema %}