{%- if predictive_search.performed -%}

  <div class="sidebar__search-link">
  	<a tabindex="-1" class="search-more button button--solid" href="{{ routes.search_url }}?q={{ predictive_search.terms }}&type=product{% if settings.predictive_search_include_pages %},page{% endif %}{% if settings.predictive_search_include_articles %},article{% endif %}&options[prefix]=last">{{ 'search.form.search_for_html' | t: terms: predictive_search.terms }}</a>
  </div>

	<div class="sidebar__search-results">

		{%- if predictive_search.resources.products.size > 0 -%}
			{%- for product in predictive_search.resources.products -%}
				<a 
					class="search-item {% if forloop.first %} first {% endif %}" 
					href="{{ product.url }}" title="{{ product.title }}" tabindex="-1"
				>
					<div class="thumbnail">
						{%- if product.featured_media != blank -%}
							<img class="lazyload" 
								src="{{ product.featured_media | img_url: '80x90_crop_center' }}"
								srcset="{{ product.featured_media | img_url: '80x90_crop_center' }} 80w, {{ product.featured_media | img_url: '160x180_crop_center' }} 160w"
								sizes="90px"
              	alt="{{ product.featured_media.alt }}"
              	loading="lazy"
              	width="80" height="90" />
						{%- else -%}
							<span class="onboarding-svg">{{ 'product-1' | placeholder_svg_tag }}</span>
						{%- endif -%}
					</div>
					<div class="content">
						<span class="title">{{ product.title }}</span>
						<span class="caption">
							{%- if settings.predictive_search_show_vendor -%}
								<span class="vendor">{{ 'product.page.vendor_html' | t: vendor: product.vendor }}</span>
							{%- endif -%}
							{%- if settings.predictive_search_show_price -%}
								{%- assign variant = product.selected_or_first_available_variant -%}
								<span class="price">
									<span class="visually-hidden">{{ 'general.accessibility_labels.price.regular' | t }}</span>
									{{ variant.price | money }}
      						{%- if variant.compare_at_price > variant.price -%}
      							<span class="visually-hidden">{{ 'general.accessibility_labels.price.sale' | t }}</span>
      							<span class="st">{{ variant.compare_at_price | money }}</span>
      						{%- endif -%}
      					</span>
							{%- endif -%}
						</span>
					</div>
				</a>
			{%- endfor -%}
		{%- endif -%}

		{%- if predictive_search.resources.collections.size > 0 -%}
			<span class="search-title">{{ 'search.form.collection_results_title' | t }}</span>
			{%- for collection in predictive_search.resources.collections -%}
				<a 
					href="{{ collection.url }}" tabindex="-1" 
					class="search-item {% if forloop.first %} first {% endif %} {% unless collection.featured_image %} article {% endunless %}"
				>
					{%- if collection.featured_image != blank -%}
						<div class="thumbnail">
							<img class="lazyload" 
								src="{{ collection.featured_image | img_url: '80x90_crop_center' }}"
								srcset="{{ collection.featured_image | img_url: '80x90_crop_center' }} 80w, {{ collection.featured_image | img_url: '160x180_crop_center' }} 160w"
								sizes="90px"
	            	alt="{{ collection.featured_image.alt }}"
	            	loading="lazy"
	            	width="80" height="90" />
						</div>
					{%- endif -%}
					<div class="content">
						<span class="title">{{ collection.title }}</span>
					</div>
				</a>
			{%- endfor -%}
		{%- endif -%}

		{%- if settings.predictive_search_include_articles and predictive_search.resources.articles.size > 0 -%}
			{%- assign date_format = 'general.date_format.month_day_year' | t -%}
			<span class="search-title">{{ 'search.form.article_results_title' | t }}</span>
			{%- for article in predictive_search.resources.articles -%}
				<a 
					href="{{ article.url }}" tabindex="-1" 
					class="search-item {% if forloop.first %} first {% endif %} {% unless article.image %} article {% endunless %}"
				>
					{%- if article.image != blank -%}
						<div class="thumbnail">
							<img class="lazyload" 
								src="{{ article.image | img_url: '80x90_crop_center' }}"
								srcset="{{ article.image | img_url: '80x90_crop_center' }} 80w, {{ article.image | img_url: '160x180_crop_center' }} 160w"
								sizes="90px"
	            	alt="{{ article.image.alt }}"
	            	loading="lazy"
	            	width="80" height="90" />
						</div>
					{%- endif -%}
					<div class="content">
						<span class="title">{{ article.title }}</span>
						<span class="caption">
							<span class="vendor" style="opacity:.66">{{ article.published_at | date: date_format }}</span>
						</span>
					</div>
				</a>
			{%- endfor -%}
		{%- endif -%}

		{%- if settings.predictive_search_include_pages and predictive_search.resources.pages.size > 0 -%}
			<span class="search-title">{{ 'search.form.page_results_title' | t }}</span>
			{%- for page in predictive_search.resources.pages -%}
				<a 
					class="search-item article {% if forloop.first %} first {% endif %}" 
					href="{{ page.url }}" tabindex="-1"
				>
					<div class="content">
						<span class="title">{{ page.title }}</span>
						{%- if page.body != blank -%}
							<span class="caption"><span class="vendor">{{ page.body | strip_html | truncatewords: 12, "..."}}</span></span>
						{%- endif -%}
					</div>
				</a>
			{%- endfor -%}
		{%- endif -%}

	</div>

{%- endif -%}