<div id="text-w-images-{{ section.id }}" class="content-section gutter--on text-w-image {% if section.settings.color_bg != 'rgba(0,0,0,0)' %} parent-has-inner-padding {% endif %}" data-size="{{ section.blocks.size }}">

	{%- for block in section.blocks -%}

    <div class="text-w-image__container" {{ block.shopify_attributes }}>
    
      <div class="text-w-image__image">
        {%- unless block.settings.image == blank -%}
          {%- liquid
            if section.blocks.size == 3 
              assign sizes = 'sizes="(max-width: 648px) calc(100vw - 20px), (min-width: 649px) and (max-width: 948px) calc((100vw - 20px) / 3), calc((100vw - 200px) / 3)"'
            else 
              assign sizes = 'sizes="(max-width: 480px) calc(100vw - 20px), (min-width: 481px) and (max-width: 948px) calc((100vw - 20px) / 2), calc((100vw - 200px) / 2)"'
            endif
            render 'lazy-image', image: block.settings.image alt: block.settings.title, sizes: sizes
          -%}
        {%- else -%}
          <span class="onboarding-svg">
            {{ 'image' | placeholder_svg_tag }}
          </span>
        {%- endunless -%}
      </div>

      <div class="text-w-image__content">

        <h3 class="text-w-image__title h2">{{ block.settings.title | escape }}</h3>
        <div class="text-w-image__rte rte">{{ block.settings.body }}</div>

      </div>

    </div>
    
	{%- endfor -%}

</div>

{%- if section.settings.color_bg != 'rgba(0,0,0,0)' -%}
  {% style %}
    #text-w-images-{{ section.id }} {
      background: {{ section.settings.color_bg }};
      padding-top: var(--vertical-padding-more);
      padding-bottom: var(--vertical-padding-more);
    }
  {% endstyle %}
{%- endif -%}

{%- if section.settings.color_text != 'rgba(0,0,0,0)' -%}
  {% style %}
    #text-w-images-{{ section.id }},
    #text-w-images-{{ section.id }} a {
      color: {{ section.settings.color_text }};
    }
  {% endstyle %}
{%- endif -%}

{% schema %}
  {
		"name": "t:sections.text-columns-with-images.name",
    "max_blocks": 3,
    "settings": [
      {
        "type": "header",
        "content": "t:sections.custom-colors.heading.label"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "t:sections.custom-colors.text.label",
        "default": "rgba(0,0,0,0)"
      },
      {
        "type": "color",
        "id": "color_bg",
        "label": "t:sections.custom-colors.background.label",
        "default": "rgba(0,0,0,0)"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "t:sections.text-columns-with-images.blocks.text.name",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "t:sections.text-columns-with-images.blocks.text.settings.title.label",
            "default": "Text with image"
          },
          {
            "type": "richtext",
            "id": "body",
            "label": "t:sections.text-columns-with-images.blocks.text.settings.text.label",
            "default": "<p>Share your latest products, collections or promotions!</p>"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "t:sections.text-columns-with-images.blocks.text.settings.image.label"
          }
        ]
      }
    ],
    "presets": [{
      "name": "t:sections.text-columns-with-images.presets.name",
      "blocks": [{
        "type": "text"
      },{
        "type": "text"
      },{
        "type": "text"
      }]
    }]
  }
{% endschema %}